*txt~
*~
*.py~
*.pyc
*.cm/*
*.vis/*
*.im/*
*.im
*.png
*.jpg
*.fits
*.log
aumic_model.py
poster_plots/12CO_LSRK_cleanimage.fits
Warp/0_runcode.ipynb
Warp/casa_images
.nfs*
diskG.py*
single_modelG.py*
*.sav



